
@{
    ViewBag.Title = "Page2";
    string profile1name = "Elitr gubergren";
    string profile1email = "Amet@Vero.com";
    string profile1bio = "Vulputate hendrerit eu invidunt consequat feugait diam dolor facilisis volutpat accusam sadipscing eirmod dolore duo ipsum sanctus clita dolores erat no erat ea nonumy et nibh dolores sed sea eu sed ut elitr ea diam est ea accusam molestie no duo ipsum clita sit adipiscing labore sit stet ut diam dolores elitr ipsum justo sadipscing dolore tincidunt hendrerit justo consetetur tincidunt dolore sadipscing sadipscing dolore zzril aliquip eos accumsan duis duo blandit sadipscing sea sit eu dolores amet justo magna sed erat qui dolore luptatum dolore dolore dolor dolore minim stet iusto ut sadipscing amet nobis lobortis justo lorem et dolor vero esse consetetur no eos lorem diam vero et sed sea in eirmod elit sanctus ipsum clita sit nihil sed kasd magna sea ea iriure ut lorem eros ad vero ipsum sit et congue liber lorem nibh eos et et lorem dolores nonumy tempor ut ipsum enim te consetetur lorem hendrerit takimata tincidunt erat sed et erat augue dolore ipsum lorem et kasd sea magna ea et sea erat takimata velit nonumy sed delenit elitr sadipscing dolore accusam quis voluptua odio invidunt dolore gubergren sit at et sed takimata et et clita ullamcorper tempor labore vel diam delenit vulputateSuscipit vero elitr takimata autem sanctus lorem exerci hendrerit amet ipsum est clita magna sed soluta dolores at suscipit tincidunt";
    string profile2name = "Dolor labore";
    string profile2email = "Ipsum@sit.com";
    string profile2bio = "Veniam est sed enim kasd dolore ipsum sadipscing ipsum cum labore dolores id elit esse molestie nobis kasd et ut kasd eleifend vulputate dolor amet sit ut dolore sed sed dolor magna eos nostrud congue eos labore aliquyam kasd vulputate at ipsum clita diam consetetur vero invidunt vel illum aliquam voluptua consectetuer sadipscing dolores ut kasd amet nibh ea rebum dolores dolor consequat voluptua odio dolor consetetur magna magna rebum option accusam lorem no euismod sea molestie labore sea takimata iriure molestie vel iusto et duo nonumy et tincidunt molestie eos diam sed zzril elitr nonumy sit tempor wisi quis erat lorem et est justo ut sed dolor velit diam elitr lorem praesent sanctus qui facilisis ipsum ea ipsum sanctus no aliquyam nonumy stet diam eos velit ipsum duo lorem nibh luptatum eleifend et aliquyam no tempor gubergren dolor stet vel dignissim amet ex nonumy vero no nibh amet nostrud tempor invidunt labore sit aliquyam feugait dolore accusam et vel sit stet ut ut ut eros dolores dolor gubergren gubergren elitr kasd sit consequat et id hendrerit iusto labore et ipsum magna ut eos duo invidunt eu diam invidunt accusam sed labore amet sanctus elitr eos lorem ea aliquyam sitDolores invidunt aliquip duo sea feugait lorem eirmod voluptua tempor nonumy dolores labore ut accusam justo dolore rebum dolor illum";
    string profile3name = "Magna illum";
    string profile3email = "Consequat@sed.com";
    string profile3bio = "Tempor accusam ipsum est aliquyam sit kasd nonumy dolores diam clita justo lorem rebum consetetur duo rebum vero et nostrud zzril tation sanctus eros et est sit stet sed sit qui aliquip nonumy duo sanctus et eirmod et erat sanctus soluta liber aliquyam est vel no justo eos diam odio laoreet adipiscing dignissim amet justo sit zzril voluptua adipiscing at sit nihil dolore ea est eu erat magna exerci et erat consetetur vero rebum takimata gubergren sanctus labore diam delenit tempor dolore invidunt est amet eos aliquyam et lorem diam accusam consequat sea consetetur dolore est sea diam amet et aliquyam eirmod ea est in consectetuer takimata tation eros no nonumy magna magna dolore nonumy possim te diam lorem dolore congue magna ea erat aliquip dolor et aliquyam sea dolor ut dolore et adipiscing ut dolore eum magna ad duis et elitr sed diam possim no et euismod est invidunt clita magna invidunt consequat eros at dolor ut iusto clita at diam amet magna sea sea dolor delenit dolor diam sea euismod vel elitr et takimata diam tincidunt no elitr diam rebum dolor labore exerci justo sit et vero nonumy in kasd sed sit labore eirmod sadipscing no aliquip velAutem dolor magna sit eirmod labore clita et accusam sit nonumy no et tempor ex et sit rebum erat dolor";
    string profile4name = "Elitr vero";
    string profile4email = "Dolore@eu.com";
    string profile4bio = "Lorem illum amet stet et ipsum dolor velit amet stet facilisis labore diam ullamcorper rebum at liber lorem ut gubergren diam assum et ipsum rebum vero sit at tempor ex elitr dolore eos doming sed sanctus nulla minim ut ea dolor diam aliquyam ut nonumy accusam suscipit at amet sed sanctus ea et duo tincidunt et duis et sit eleifend quod kasd et justo eu clita sed stet dolor sea te diam vel lorem stet rebum no et at elitr lorem ipsum dolor voluptua vel diam dolore est accusam kasd sanctus dolore zzril ut diam dolore takimata dolor sed et no elitr eos lorem dolores et duo amet est veniam accusam sadipscing no sea stet lorem rebum consetetur at aliquip sit vero elitr dolor erat magna consetetur clita ea dolore sea delenit amet ut dolore autem ad sadipscing sadipscing erat gubergren gubergren lorem diam diam invidunt labore takimata et ut et stet justo accumsan kasd invidunt enim option vero erat est est iusto sed lobortis at ipsum ex sea ipsum et et qui delenit in elitr vero rebum aliquip sadipscing elitr tempor sed augue sea consetetur gubergren est amet sed sed duo justo odio et ipsum sanctus vulputate at doloreEx invidunt eu velit accusam ipsum sea qui amet at ipsum accumsan sed lorem sanctus tincidunt et sanctus dolor aliquam";
    string profile5name = "Erat duis";
    string profile5email = "Dolore@consetetur.com";
    string profile5bio = "Soluta aliquyam est vel no et euismod et gubergren amet dolore takimata ex invidunt nonumy ut rebum duo ut sea accusam in est sed invidunt no est ipsum tincidunt amet adipiscing at eirmod ullamcorper sed lorem magna sed rebum et eos dolores amet et nihil vulputate sea sit invidunt kasd sanctus possim dignissim dolor eos at vero gubergren aliquyam adipiscing wisi takimata ut ea erat sit assum ipsum consetetur aliquyam est diam cum aliquip vel lorem euismod sit amet iriure dolore tempor duo sit nisl amet nonumy dolor labore dolores et dolor iriure rebum tempor vero takimata blandit consetetur sit tempor aliquyam eum est nam et invidunt tempor elitr qui magna takimata gubergren illum duo rebum sea gubergren feugait ut sea consectetuer rebum diam accumsan dolor feugiat nonumy ea et augue at eos et no dolor in sit iriure eos no dolor kasd consequat ut erat at clita erat at et lorem gubergren sadipscing sadipscing aliquam et kasd feugiat suscipit velit zzril nonumy velit sanctus sanctus wisi consetetur sadipscing dolores aliquam amet zzril lorem sadipscing est nonumy duis et takimata dolor dolores gubergren diam lobortis veniam ea aliquyam et nonumy molestie autem et ut adipiscing dolore rebum takimata nulla nullaFeugiat ut eirmod accumsan ipsum sed diam nostrud wisi amet diam sit esse adipiscing stet dolor eirmod accusam sadipscing amet";

    var allProfiles = new[,] { { profile1name, profile1email, profile1bio }, { profile2name, profile2email, profile2bio }, { profile3name, profile3email, profile3bio }, { profile4name, profile4email, profile4bio }, { profile5name, profile5email, profile5bio } };
    
    
    }

<style>
    .profiles{
        border: solid 2px lightgrey;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .profilehead {
        background-color: lightgray;
        padding: 10px;

    }
        .jumbotron {
        color: white;
        background-color: purple;
        border-radius: 25px;
        padding: 15px;
    }
    .btn-sm {
        background-color: deepskyblue;
        border-color: deepskyblue;
    }
</style>



<div class="jumbotron">
<h2>Page2</h2>
    </div>

<a href="/Lab4/Page2/1"><button type="button" class="btn btn-success btn-sm">1</button></a>
<a href="/Lab4/Page2/2"><button type="button" class="btn btn-success btn-sm">2</button></a>
<a href="/Lab4/Page2/3"><button type="button" class="btn btn-success btn-sm">3</button></a>
<a href="/Lab4/Page2/4"><button type="button" class="btn btn-success btn-sm">4</button></a>
<a href="/Lab4/Page2/5"><button type="button" class="btn btn-success btn-sm">5</button></a>
<br />




@for (var i = 0; i<Model; i++)
{
    <div class="profiles">
    <div class="profilehead">
    <h1>Profile @(i+1)</h1>
    </div>
    <p><b>Name:</b>@allProfiles[ i , 0]</p>
    <p><b>Email:</b>@allProfiles[i, 1]</p>
    <p><b>Bio: </b>@allProfiles[i, 2]</p>
     </div>
}

<br />
<a href="/Lab4/Page3/">
    <button type="button" class="btn btn-success">Go To Page 3</button>
</a>